<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>

<hr>

<div class="container">

<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td> Basic Directive with parameter</td>
        <td><p address></p></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Basic Directive with parameter and ElementRef</td>
        <td><p coloraddress="lightblue" address></p>
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Basic Directive with parameter and ElementRef</td>
        <td><p coloraddress="yellow" address></p></td>
      </tr>
      <tr>
          <th scope="row">4</th>
          <td>Basic Directive with  Renderer2</td>
          <td><p appShadowText address></p></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>Basic Directive with parameter and Renderer2</td>
            <td><p 
              [appShadowColor]="'red'"
              [appShadowX]="'12px'"
              [appShadowY]="'6px'"
              [shadowSize]="'10px'" address></p></td>
          </tr>

    </tbody>
  </table>
</div>